/*Logo*/
.logo{
  width:100%;
  color:#FFF;
  font-size:20px;
  font-weight:500;
  letter-spacing:4px;
  text-transform:uppercase;
}
.logo__surround{
  background-color:rgba(255, 255, 255, 0.15);
  padding:10px 10px 10px 14px;
}
.logo--parralax{
  position:absolute;
  top:45%;
  text-align: center;
}
.logo--header{
  margin:0;
  opacity:0;
  transition: opacity 1000ms ease;
}
.logo--scrolled{
  opacity:1;
  transition: opacity 1000ms ease;
}

/*Menu*/
.menu {
	overflow-y:auto;
	display:none;
	position:fixed;
	z-index:101;
	top:0px;
	bottom:0px;
	left:0px;
	right:700px;
	background:rgba(0,0,0,0.85);
	box-shadow:20px 0px 50px 0px rgba(0,0,0,0.15);
	transition: right 200ms ease;
}
.menu--open {
	right:0px !important;
	transition: right 200ms ease;
}
@media all and (min-width: 650px) {
	.menu {
		left:-400px;
		width:350px;
		transition: left 200ms ease;
	}
	.menu--open {
		left:0px !important;
		transition: left 200ms ease;
	}
}
.menu__item {
  display:block;
  box-sizing: border-box;
  width:100%;
	padding:10px 20px;
	background-color:transparent;
	font-size:15px;
  color:#fff;
	transition: background-color 200ms ease;
}
.menu__item:hover {
  color:#fff;
	background-color:rgba(255,255,255,0.15);
	transition: background-color 200ms ease;
}
.menu__close {
  display:block;
  text-align: right;
  width:100%;
  height:44px;
	padding: 0px 0px 22px 0px;
  margin: 0;
	background-color:transparent;
	transition: background-color 200ms ease;
}
.menu__icon {
  width:44px;
  height:44px;
	padding:0;
	opacity: 0.75;
	transition: opacity 200ms ease;
}
.menu__icon:hover {
  opacity: 1;
  transition: opacity 200ms ease;
}
.menu-fadeout {
	display:none;
	position:fixed;
	z-index:100;
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	background:rgba(0,0,0,0.35);
	opacity:0;
	transition: opacity 200ms ease;
}
.menu-fadeout--on {
	top:0px;
	bottom:0px;
	left:0px;
	right:0px;
	opacity:1;
	transition: opacity 200ms ease;
}

/*Brands*/
.brands{
  display:flex;
  flex-flow: row wrap;
  justify-content: center;
}
.brands__item{
  margin:0px 10px;
}
.brands__item-image{
  margin: 0;
  padding: 0;
  width:125px;
  -webkit-filter: grayscale(100%) opacity(50%); /* Safari 6.0 - 9.0, Chrome 18.0 - 53.0 */
  filter: grayscale(100%) opacity(50%);
  transition: filter 500ms ease;
}
.brands__item-image:hover{
  -webkit-filter: none; /* Safari 6.0 - 9.0, Chrome 18.0 - 53.0 */
  filter: none;
  transition: filter 500ms ease;
}

/*Gallery*/
.gallery{
  display:flex;
  flex-flow: row wrap;
  justify-content: center;
}
.gallery__item{
  margin:0px 10px;
}
.gallery__item-image{
  margin: 0;
  padding: 0;
  -webkit-filter: grayscale(100%) opacity(50%); /* Safari 6.0 - 9.0, Chrome 18.0 - 53.0 */
  filter: grayscale(100%) opacity(50%);
  transition: filter 500ms ease;
}
.gallery__item-image:hover{
  -webkit-filter: none; /* Safari 6.0 - 9.0, Chrome 18.0 - 53.0 */
  filter: none;
  transition: filter 500ms ease;
}
.gallery__item-image--desktop{
  width:100%;
}
.gallery__item-image--mobile{
  width:60%;
}
.gallery__item-image--tablet{
  width:100%;
}
@media all and (min-width: 850px) {
  .gallery__item-image--desktop{
    width:400px;
  }
  .gallery__item-image--mobile{
    width:200px;
  }
  .gallery__item-image--tablet{
    width:400px;
  }
}
@media all and (min-width: 1400px) {
  .gallery__item-image--desktop{
    width:600px;
  }
  .gallery__item-image--mobile{
    width:300px;
  }
  .gallery__item-image--tablet{
    width:600px;
  }
}

/*Buttons*/
.button{
  padding:10px 10px 12px 12px;
  letter-spacing:2px;
  font-size:18px;
  display: inline-block;
}
.button--theme-color{
  border:2px solid $main-theme-color;
  color: $main-theme-color;
  transition: all 250ms ease;
}
.button--theme-color:hover{
  border:2px solid $secondary-theme-color;
  color: $secondary-theme-color;
  transition: all 250ms ease;
}
.button--white{
  border:2px solid rgba(255, 255, 255, 0.75);
  color: rgba(255, 255, 255, 0.75);
  transition: all 250ms ease;
}
.button--white:hover{
  border:2px solid rgba(255, 255, 255, 1);
  color: rgba(255, 255, 255, 1);
  transition: all 250ms ease;
}
.button--top-margin{
  margin-top:10px;
}
.button--left-margin{
  margin-left:20px;
}

/*Flex*/
.flex{
  display:flex;
  flex-direction: column;
  justify-content: center;
}
.flex__2-col{
  width:100%;
  box-sizing: border-box;
  padding:0;
}
@media all and (min-width: 650px) {
  .flex{
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
  }
  .flex__2-col{
    width:50%;
    box-sizing: border-box;
    padding:0px 40px;
  }
}

/*Sections*/
.section__centered-image-container{
  width:100%;
}
.section__centered-image{
  width:50%;
}
.section__centered-image--img{
  min-width: 240px;
  max-width: 600px;
}
.section__centered-image--icon{
  max-width: 100px;
  opacity:0.75;
}

/*My photo*/
.photo{
  margin: 0;
  padding: 0;
}
.photo__img{
  margin: 0;
  padding: 0;
  max-width:200px;
  width:75%;
  border-radius: 50%;
}

/*Linkedin*/
.linkedin-image{
  margin: 0;
  padding: 0;
  -webkit-filter: opacity(50%); /* Safari 6.0 - 9.0, Chrome 18.0 - 53.0 */
  filter: opacity(50%);
  transition: filter 500ms ease;
}
.linkedin-image:hover{
  -webkit-filter: opacity(90%); /* Safari 6.0 - 9.0, Chrome 18.0 - 53.0 */
  filter: opacity(90%);
  transition: filter 500ms ease;
}
.linkedin-image--footer{
  margin-top:11px;
  -webkit-filter: opacity(25%); /* Safari 6.0 - 9.0, Chrome 18.0 - 53.0 */
  filter: opacity(25%);
}

/*Misc*/
.large-text{
  font-size: 18px;
}
.right-align{
  float:right;
}
.left-align{
  float:left;
}
